*{border: none}
      body {
        font-family: arial;
        margin: 0;
      }
      .dark{color: white;background: #1B1B1B;}
      .light{color: black;background: white;}
      header {
        background: black;
        height: 50px;
        width: 100%;
      }
      main {
        width: 98%;
        height: calc(100vh - 90px);
        margin: 20px auto;
        display: grid;
         grid-template-areas: "aside section";
        grid-template-columns: 400px 5fr;
       
      }

      aside {
        grid-area: aside;
        position: relative;
        
      }
      .aside_content{height: calc(100vh - 130px);
        overflow: auto;}

      aside button, select {
        color: white;
      margin-bottom:1em ;margin-left: 10px;
        text-transform: capitalize;
        padding: 10px 20px;
        font-size: inherit;
        text-align:left;
        font-size: 16px;
        background: none;
        border: 1px solid;
        border-radius: 10px;
      }
      aside button:hover,aside .active{
        background: ghostwhite;
        color: black;
        font-weight: bold;
        letter-spacing: 0.2px;}

      section{grid-area: section;}
      section div {
        width: 90%;
        height: calc((98vw - 400px - 10px )*0.50);
        font-size: 1.2em;
        margin: 0 auto;
      }
      section p {padding-left: 10px;}
       iframe{width: 100%;
        height: 100%}

      .duration{position: absolute;right: 10px;bottom: 10px;font-size: 12px;background: black;border-radius: 5px;padding: 3px 7px;}

        select{margin-top:0 ;width: 390px;
          background: black;
          -webkit-appearance: none;appearance: none;
          outline: none;
          }
        
        
        .aside_content::before{
        width: 20px;
        height: 20px;
        content: '▼';position: absolute;
        top: 7px;right: 25px;
         border: 2px solid white;
        text-align: center;border-radius: 50%;font-size: 1.1em;}


      @media (max-width: 65em) {
        header{position: absolute;
          top: -120px}

        main {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-areas: "section" "aside";
          height: 100vh;
          margin:0 auto;
          width: 100%;
        }
        aside {
          grid-area: aside;
          overflow: visible;
  
        }
        
        section {
          grid-area: section;
          height:calc(56.25vw + 60px);
          margin-bottom: 10px;
        }

        section div {
          width: 100%;
          height:calc(100% - 60px) ;
        }

        iframe{width:100%}

      }

      


      @media(max-width: 40em){
        
        select{width: calc(100%); margin-left: 0;border-radius: 0;padding: 15px;}
        .aside_content{overflow: auto;
          height:39vh;}
          aside button{width: calc(100% - 20px);}
          .aside_content::before{top: 12px;right: 50px;font-size: 1.2em;}

        }
        
      img{max-width: 100%;}

      
